.task {
  /* to ensure the item on our list and our button to remove that item are side by side */
  width: 30vw;
  height: 50px;
  display: flex;
  color: rgb(0, 0, 0);
  margin: 15px;
}

.task .content {
  /* our task will take up 80% of the div width, leaving 20% for the button */
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: rgb(244, 227, 36);
}

.task button {
  flex: 20%;
  height: 100%;
  border: none;
  font-size: 15px;
  background-color: rgb(242, 168, 31);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
