.App {
  /* flex allows us to seperate screen into two - our header and our todo list */
  display: flex;
  align-items: center;
  /* flex direction column to ensure sections are aligned vertically, not horizontally (the top will take 30% of screen and bottom 70% */
  flex-direction: column;
  /* width and height to take a total of 100% of screen */
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* removes the white border right around body of screen */
body {
  margin: 0;
  padding: 0;
}

.header .inputArea {
  /* will ensure both areas of page are ontop of one another */
  display: flex;
  flex-direction: column;
}

.header {
  /* header will represent 30% of screen */
  flex: 30%;
  background-color: rgb(244, 227, 36);
  /* and fill 100% of its 30% */
  width: 100%;
  display: flex;
  /* ensure everything is middled */
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* for <input> tags in header area*/
.header input {
  width: 30vw;
  height: 40px;
  border: none;
  /* rounded the left sides but keep right side straight so right 'falls' flat against button */
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid rgb(31, 27, 134);
  border-right: 2px solid rgb(0, 0, 0);
}

/* for button in header area*/

.header button {
  width: 15vw;
  height: 88px;
  border: none;
  font-size: 15px;
  /* rounded the right side but kept left side straight so left 'falls' flat against <inputs> */
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgb(31, 27, 134);
  border-top: 1px solid rgb(31, 27, 134);
  border-right: 1px solid rgb(31, 27, 134);
}

.todolist {
  /* will take 70% of the screen */
  flex: 70%;
  /* and fill 100% of its 70% */
  width: 30vw;
  /* ensures that the list will be centred on screen */
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}
